* {
	margin:  8px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	background: beige;
	color: deeppink;
	font-family: Noto_Serif, serif;
	transition: background 500ms ease;

}

#drop-cap{
	font-family: cursive;
	font-size: 22;

}

span {
	background: beige;
	color: purple;
	font-family: Noto_Serif, serif;
	transition: background 500ms ease;
}


p, li {
	font-size:  16px;
	line-height: 36px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/